* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;

}

body {
    background-image: url('../img/background_login.jpg');
    background-size: cover;
}
a{
    padding-bottom: 20px;
    color: black;
    font-weight: bold;
}

p{
    color: black;
    font-weight: bold;
}

a:hover {
    color: #0004ff;
}

#login-container{
    background-color: rgba(255, 255, 255);
    box-shadow: 10px 10px 5px 0px rgb(26, 26, 26);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 20vh;
    border-radius: 20px;
    text-align: center;
}
h1{
    color: black;
}

form{
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: bold;
}

label, input {
    display: block;
    text-align: center;
    width: 100%;
}
label{
    font-weight: bold;
    color: black;
}

input{
    text-align: left;
    outline: none;
    width: 43vh;
    height: 45px;
    background-color:rgba(0, 0, 0, 0.15);
    color: black;
    margin: 20px;
    padding-left: 20px;

}
input[type='submit'] {
    background-color: forestgreen;
    color: white;
    padding: 10px;
    padding-left: 30px;
    outline: none;
    font-size: 18px;
    padding-right: 30px;
    border: 0px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition-duration: 0.3s;
}

input[type='submit']:active, input[type='submit']:focus, input[type='submit']:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transform: scale(1.03);
}
input::placeholder {
    text-align: left;
    margin-left: 20px;
}

.login{
    margin-top: 20px;
    border-radius: 20px;
    color: #000000;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    border: solid #000000 1px;
    cursor: pointer;
    text-align: center;
}